@media screen and (min-width: 901px) {
  html, body { height: 100vh; overflow: hidden; }
  body { display: flex; flex-direction: column; }
  .main-header { position: relative; }
  .mor-panel { position: relative; transform: none; }
  .panel-left.is-collapsed { margin-left: calc(var(--sidebar-width) * -1); }
  .panel-right.is-collapsed { margin-right: calc(var(--sidebar-width) * -1); }
}
